body {
  font-family: "Arial", sans-serif;
  background-color: #f3f4f6;
  background-image: url("images/pexels-hngstrm-1939485.jpg");
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #333;
  padding-bottom: 10px;
  border-bottom: 2px solid #007bff;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:active {
  background-color: #00408a;
  transform: scale(1);
}

.resume-output {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fdfdfe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.resume-output h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

.resume-output p {
  margin: 10px 0;
  font-size: 1.1em;
  color: #555;
}

.resume-output h3 {
  font-size: 1.5em;
  color: #007bff;
  margin-top: 20px;
  margin-bottom: 10px;
}
